In [1]:
import numpy as np
import pandas as pd

# WLS

## Merge Text and Label

In [2]:

df_wls = pd.read_csv("/edata/TRESTLE/testWLS.tsv", sep='\t')

In [3]:
df_wls.head()

         file                                               text
0  2000015784  Well i see a boy taking a cookie outof a cooki...
1  2000015088  The mother's doing dishes. She's naughty. She'...
2  2000015573  Okay. Somebody is into the cookie jar and he's...
3  2000015045  Okay. There's a young boy up on a chair that's...
4  2000015213  Kids are in the cookie jar. And the child is r...

In [4]:
df_wls_label = pd.read_csv("/edata/TRESTLE/WLS-labels.csv")

In [5]:
df_wls_label

,idtlkbnk,age 2011,education,"category fluency version, 2011","category fluency, scored words named, 2011","> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education"
0,2000000002,71,12,1,23,N
1,2000000007,66,12,1,17,N
2,2000000032,71,18,2,17,N
3,2000000047,71,12,1,15,N
4,2000000054,70,12,1,21,N
...,...,...,...,...,...,...
1364,2000018936,72,12,1,13,N
1365,2000018944,67,13,1,24,N
1366,2000018958,72,12,2,17,N
1367,2000018976,65,12,2,31,N
1368,2000019008,66,14,1,18,N

In [6]:
df_wls_label.columns

Index(['idtlkbnk', 'age 2011', 'education', 'category fluency version, 2011',
       'category fluency, scored words named, 2011',
       '> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education'],
      dtype='object')

In [8]:
df_wls[df_wls['file'].isin(df_wls_label['idtlkbnk'])]

            file                                               text
0     2000015784  Well i see a boy taking a cookie outof a cooki...
1     2000015088  The mother's doing dishes. She's naughty. She'...
2     2000015573  Okay. Somebody is into the cookie jar and he's...
3     2000015045  Okay. There's a young boy up on a chair that's...
4     2000015213  Kids are in the cookie jar. And the child is r...
...          ...                                                ...
1355  2000017316  Well the kid's gonna fall off the stool with t...
1356  2000017754  There is a kid going after a cookie jar standi...
1357  2000017794  I see mom doing dishes and spilling water on t...
1358  2000017790  Two children. One child on a stool that's tipp...
1359  2000017977  Well the boy reaching for cookies and he's on ...

[1360 rows x 2 columns]

In [7]:
df_wls_merge = df_wls.merge(df_wls_label, left_on='file', right_on='idtlkbnk', how='inner')

In [33]:
df_wls_merge.head()

,file,text,idtlkbnk,age 2011,education,"category fluency version, 2011","category fluency, scored words named, 2011",belowSD,customLabel
0,2000015784,Well i see a boy taking a cookie outof a cooki...,2000015784,70,12,2,9,Y,True
1,2000015088,The mother's doing dishes. She's naughty. She'...,2000015088,70,12,1,10,Y,True
2,2000015573,Okay. Somebody is into the cookie jar and he's...,2000015573,71,12,2,14,N,False
3,2000015045,Okay. There's a young boy up on a chair that's...,2000015045,72,14,1,22,N,False
4,2000015213,Kids are in the cookie jar. And the child is r...,2000015213,63,12,2,16,N,False

In [9]:
df_wls_merge.groupby("category fluency version, 2011").size()

category fluency version, 2011
1    673
2    687
dtype: int64

In [10]:

df_wls_merge.groupby("> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education", 
                     dropna=False) \
.size()

> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education
N      1167
Y       109
y         1
NaN      83
dtype: int64

In [11]:

df_wls_merge["> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education"].unique()

array(['Y', 'N', nan, 'y'], dtype=object)

In [12]:

df_wls_merge.rename(columns={"> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education": "belowSD"},
                    inplace=True
                   )

In [13]:
df_wls_merge

,file,text,idtlkbnk,age 2011,education,"category fluency version, 2011","category fluency, scored words named, 2011",belowSD
0,2000015784,Well i see a boy taking a cookie outof a cooki...,2000015784,70,12,2,9,Y
1,2000015088,The mother's doing dishes. She's naughty. She'...,2000015088,70,12,1,10,Y
2,2000015573,Okay. Somebody is into the cookie jar and he's...,2000015573,71,12,2,14,N
3,2000015045,Okay. There's a young boy up on a chair that's...,2000015045,72,14,1,22,N
4,2000015213,Kids are in the cookie jar. And the child is r...,2000015213,63,12,2,16,N
...,...,...,...,...,...,...,...,...
1355,2000017316,Well the kid's gonna fall off the stool with t...,2000017316,70,18,2,24,N
1356,2000017754,There is a kid going after a cookie jar standi...,2000017754,72,12,2,20,N
1357,2000017794,I see mom doing dishes and spilling water on t...,2000017794,78,12,2,12,N
1358,2000017790,Two children. One child on a stool that's tipp...,2000017790,64,18,1,14,N
1359,2000017977,Well the boy reaching for cookies and he's on ...,2000017977,66,16,1,22,N

## Use new rules for dementia

In [14]:
wls_Conditions = [
    (df_wls_merge['age 2011'] <= 79) & (df_wls_merge['education'] <= 12) & (df_wls_merge['category fluency, scored words named, 2011'] < 12),
    (df_wls_merge['age 2011'] <= 79) & (df_wls_merge['education'] >  12) & (df_wls_merge['category fluency, scored words named, 2011'] < 14),
    (df_wls_merge['age 2011'] >  79) & (df_wls_merge['education'] <= 12) & (df_wls_merge['category fluency, scored words named, 2011'] < 10.5),
    (df_wls_merge['age 2011'] >  79) & (df_wls_merge['education'] >  12) & (df_wls_merge['category fluency, scored words named, 2011'] < 12),
]
wls_Categories = [True, True, True, True]

In [15]:
df_wls_merge['customLabel'] = np.select(wls_Conditions, wls_Categories, default=False)

In [16]:
pd.crosstab(index=df_wls_merge['customLabel'], columns=df_wls_merge['belowSD'])

belowSD         N    Y  y
customLabel
False        1166    4  0
True            1  105  1

## TICSm

In [17]:
!ls /edata/wls

more_weirdness.txt		     wls_data_frontier
weirdness.txt			     wls_metadata
WLS_14_01_idpriv_Cohen_Pakhomov.dta  wls_notebooks
wls_activity_preprocessing_jul2021   wls_preprocessing
wls_activity_transcripts	     wls_short_interviews.ipynb
wls_all				     wls_total_R6_07122021.csv
wls_cookie_theft		     wls_transcripts

In [19]:
tmp = pd.read_stata("/edata/wls/WLS_14_01_idpriv_Cohen_Pakhomov.dta")

In [35]:
tmp.shape

(1366, 13754)

In [22]:
tmp.head()

,idpriv,rtype,z_gx361re,z_gx362are,z_gx362bre,z_gv032are,z_gv032bre,z_hx361re,z_hx362are,familypub,...,z_q1c309re,z_q1z023rer,z_q1z024rer,z_q1u008rer,z_q1e101he,z_q1x1321re,z_q1x1319re,z_q1x1319mn,z_q1x1319yr,z_q1x1320re
0,804539,g,no,inap,inap,inap,inap,no,inap,1209454,...,Inap,10.0,0.0,Zero Days,0.0,Some,NOT ASCERTAINED,NOT ASCERTAINED,NOT ASCERTAINED,Not Ascertained
1,804539,s,no,inap,inap,inap,inap,no,inap,1209454,...,Inap,20.0,2.0,Zero Days,1.0,Very Much,NOT ASCERTAINED,NOT ASCERTAINED,NOT ASCERTAINED,Not Ascertained
2,833715,g,no,inap,inap,inap,inap,no,inap,1209072,...,Inap,2.0,1.0,Zero Days,0.0,Very Much,NOT ASCERTAINED,NOT ASCERTAINED,NOT ASCERTAINED,Not Ascertained
3,833715,s,NaN,NaN,NaN,NaN,NaN,no,inap,1209072,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,815825,s,no,inap,inap,inap,inap,no,inap,1202456,...,Inap,0.0,1.0,Zero Days,0.0,Completely,NOT ASCERTAINED,NOT ASCERTAINED,NOT ASCERTAINED,Not Ascertained

In [28]:
df_wls_merge.head()

,file,text,idtlkbnk,age 2011,education,"category fluency version, 2011","category fluency, scored words named, 2011",belowSD,customLabel
0,2000015784,Well i see a boy taking a cookie outof a cooki...,2000015784,70,12,2,9,Y,True
1,2000015088,The mother's doing dishes. She's naughty. She'...,2000015088,70,12,1,10,Y,True
2,2000015573,Okay. Somebody is into the cookie jar and he's...,2000015573,71,12,2,14,N,False
3,2000015045,Okay. There's a young boy up on a chair that's...,2000015045,72,14,1,22,N,False
4,2000015213,Kids are in the cookie jar. And the child is r...,2000015213,63,12,2,16,N,False

In [27]:
set(df_wls_merge.columns).intersection(set(tmp.columns))

set()

In [42]:
[x for x in tmp.columns if 'id' in x.lower()]

['idpriv',
 'personid',
 'selsibidpub',
 'didspec1',
 'idsampq',
 'idsoc57q',
 'hidg64',
 'z_idint',
 'z_kidsno',
 'ckkids',
 're088fid',
 're089fid',
 'z_idiffrec',
 'z_id001are',
 'z_id001bre',
 'z_id001cre',
 'z_id001dre',
 'z_id002are',
 'z_id002bre',
 'z_id002cre',
 'z_id002dre',
 'z_id003are',
 'z_id003bre',
 'z_id003cre',
 'z_id003dre',
 'z_id004are',
 'z_id004bre',
 'z_id004cre',
 'z_id004dre',
 'z_id005are',
 'z_id005bre',
 'z_id005cre',
 'z_id005dre',
 'z_id006are',
 'z_id006bre',
 'z_id006cre',
 'z_id006dre',
 'z_id007are',
 'z_id007bre',
 'z_id007cre',
 'z_id007dre',
 'z_id008are',
 'z_id008bre',
 'z_id008cre',
 'z_id008dre',
 'z_id009are',
 'z_id009cre',
 'z_id009dre',
 'z_id010are',
 'z_id010bre',
 'z_id010cre',
 'z_id010dre',
 'z_id011are',
 'z_id011bre',
 'z_id011cre',
 'z_id011dre',
 'z_id012are',
 'z_id012bre',
 'z_id012cre',
 'z_id012dre',
 'z_id013are',
 'z_id013bre',
 'z_id013cre',
 'z_id013dre',
 'z_id014are',
 'z_id014bre',
 'z_id014cre',
 'z_id014dre',
 'z_id015are',
 'z_id015bre',
 'z_id015cre',
 'z_id015dre',
 'z_id016are',
 'z_id016bre',
 'z_id016cre',
 'z_id016dre',
 'z_id017are',
 'z_id017bre',
 'z_id017cre',
 'z_id017dre',
 'z_id018rec',
 'z_id101rer',
 'z_id102rer',
 'z_id103rer',
 'z_id104rer',
 'z_id105rer',
 'z_id106rer',
 'z_id107rer',
 'z_id108rer',
 'z_id109rer',
 'z_id110rer',
 'z_id111rer',
 'z_id112rer',
 'z_id113rer',
 'z_id114rer',
 'z_id115rer',
 'z_id116rer',
 'z_id117rer',
 'z_id118rer',
 'z_hkidstat',
 'z_hkidrel']

In [48]:
tmp['idpriv']

0       804539
1       804539
2       833715
3       833715
4       815825
         ...
1361    826120
1362    821859
1363    803909
1364    803909
1365    826627
Name: idpriv, Length: 1366, dtype: int32

In [ ]:
tmp['idpriv'].

In [44]:
df_wls_merge[df_wls_merge['idtlkbnk'].isin(tmp['selsibidpub'])]

Empty DataFrame
Columns: [file, text, idtlkbnk, age 2011, education, category fluency version, 2011, category fluency, scored words named, 2011, belowSD, customLabel]
Index: []

# ADReSS

## A Few Checks on `_train` vs `_train_train`

In [14]:
df_adress_train = pd.read_csv("/edata/ADReSS-IS2020-data/dataframes/adre_train.csv")

In [15]:
df_adress_train

,Unnamed: 0,sentence_source,label,sentence
0,6,S094.txt,1,oh yes a little girl and the little boy is ...
1,0,S138.txt,1,the the water's flowing on the floor and sh...
2,30,S118.txt,1,oh there's a cookie jar and a youngster with ...
3,37,S114.txt,1,mhm well the kids is robbing a cookie jar ...
4,49,S143.txt,1,well little boy reaching out for the cookie j...
...,...,...,...,...
103,55,S032.txt,0,well the little girl is saying to be quiet to...
104,15,S097.txt,1,an average home that looks very much like our...
105,56,S016.txt,0,well the girl is watching the boy go into the...
106,61,S061.txt,0,alright boy is getting into the cookie jar ...
107,92,S058.txt,0,everything that's going on okay mother's wi...

In [21]:
df_adress_train.groupby('label').size()

label
0    54
1    54
dtype: int64

In [25]:
df_adress_train[df_adress_train['sentence_source'].duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, sentence_source, label, sentence]
Index: []

In [16]:
df_adress_train_train = pd.read_csv("/edata/ADReSS-IS2020-data/dataframes/adre_train_train.csv")

In [17]:
df_adress_train_train

,Unnamed: 0,sentence_source,label,sentence
0,0,S094.txt,1,oh yes a little girl and the little boy is ...
1,1,S138.txt,1,the the water's flowing on the floor and sh...
2,4,S143.txt,1,well little boy reaching out for the cookie j...
3,5,S019.txt,0,okay well the mother is drying the dishes ...
4,6,S125.txt,1,mhm oh there's a cookie jar and the boy...
...,...,...,...,...
92,103,S032.txt,0,well the little girl is saying to be quiet to...
93,104,S097.txt,1,an average home that looks very much like our...
94,105,S016.txt,0,well the girl is watching the boy go into the...
95,106,S061.txt,0,alright boy is getting into the cookie jar ...
96,107,S058.txt,0,everything that's going on okay mother's wi...

In [22]:
df_adress_train_train.groupby('label').size()

label
0    47
1    50
dtype: int64

In [26]:
df_adress_train_train[df_adress_train_train['sentence_source'].duplicated(keep=False)]

Empty DataFrame
Columns: [Unnamed: 0, sentence_source, label, sentence]
Index: []

In [27]:
set(df_adress_train['sentence_source']).intersection(set(df_adress_train_train['sentence_source']))

{'S001.txt',
 'S002.txt',
 'S003.txt',
 'S004.txt',
 'S006.txt',
 'S007.txt',
 'S009.txt',
 'S011.txt',
 'S012.txt',
 'S015.txt',
 'S016.txt',
 'S018.txt',
 'S019.txt',
 'S020.txt',
 'S021.txt',
 'S024.txt',
 'S025.txt',
 'S027.txt',
 'S028.txt',
 'S030.txt',
 'S032.txt',
 'S033.txt',
 'S034.txt',
 'S036.txt',
 'S038.txt',
 'S039.txt',
 'S040.txt',
 'S041.txt',
 'S043.txt',
 'S048.txt',
 'S049.txt',
 'S051.txt',
 'S055.txt',
 'S056.txt',
 'S058.txt',
 'S059.txt',
 'S061.txt',
 'S062.txt',
 'S063.txt',
 'S064.txt',
 'S067.txt',
 'S068.txt',
 'S070.txt',
 'S071.txt',
 'S073.txt',
 'S076.txt',
 'S077.txt',
 'S079.txt',
 'S080.txt',
 'S082.txt',
 'S083.txt',
 'S084.txt',
 'S086.txt',
 'S087.txt',
 'S089.txt',
 'S092.txt',
 'S093.txt',
 'S094.txt',
 'S095.txt',
 'S096.txt',
 'S097.txt',
 'S100.txt',
 'S101.txt',
 'S103.txt',
 'S104.txt',
 'S107.txt',
 'S108.txt',
 'S110.txt',
 'S111.txt',
 'S116.txt',
 'S122.txt',
 'S124.txt',
 'S125.txt',
 'S126.txt',
 'S127.txt',
 'S128.txt',
 'S129.txt',
 'S130.txt',
 'S132.txt',
 'S135.txt',
 'S136.txt',
 'S137.txt',
 'S138.txt',
 'S139.txt',
 'S140.txt',
 'S141.txt',
 'S142.txt',
 'S143.txt',
 'S144.txt',
 'S145.txt',
 'S148.txt',
 'S149.txt',
 'S150.txt',
 'S151.txt',
 'S153.txt',
 'S154.txt',
 'S156.txt'}

In [29]:
set(df_adress_train['sentence_source']) - set(df_adress_train_train['sentence_source'])

{'S005.txt',
 'S013.txt',
 'S017.txt',
 'S029.txt',
 'S035.txt',
 'S052.txt',
 'S072.txt',
 'S081.txt',
 'S090.txt',
 'S114.txt',
 'S118.txt'}

In [30]:
set(df_adress_train_train['sentence_source']) - set(df_adress_train['sentence_source'])

set()

In [31]:
tmp = df_adress_train.merge(df_adress_train_train, on='sentence_source', how='outer', suffixes=['_train','_train_train'])

In [32]:
tmp

,Unnamed: 0_train,sentence_source,label_train,sentence_train,Unnamed: 0_train_train,label_train_train,sentence_train_train
0,6,S094.txt,1,oh yes a little girl and the little boy is ...,0.0,1.0,oh yes a little girl and the little boy is ...
1,0,S138.txt,1,the the water's flowing on the floor and sh...,1.0,1.0,the the water's flowing on the floor and sh...
2,30,S118.txt,1,oh there's a cookie jar and a youngster with ...,NaN,NaN,NaN
3,37,S114.txt,1,mhm well the kids is robbing a cookie jar ...,NaN,NaN,NaN
4,49,S143.txt,1,well little boy reaching out for the cookie j...,4.0,1.0,well little boy reaching out for the cookie j...
...,...,...,...,...,...,...,...
103,55,S032.txt,0,well the little girl is saying to be quiet to...,103.0,0.0,well the little girl is saying to be quiet to...
104,15,S097.txt,1,an average home that looks very much like our...,104.0,1.0,an average home that looks very much like our...
105,56,S016.txt,0,well the girl is watching the boy go into the...,105.0,0.0,well the girl is watching the boy go into the...
106,61,S061.txt,0,alright boy is getting into the cookie jar ...,106.0,0.0,alright boy is getting into the cookie jar ...
107,92,S058.txt,0,everything that's going on okay mother's wi...,107.0,0.0,everything that's going on okay mother's wi...

In [45]:
tmp.iloc[np.where(tmp['sentence_train'] != tmp['sentence_train_train'])[0],:]

,Unnamed: 0_train,sentence_source,label_train,sentence_train,Unnamed: 0_train_train,label_train_train,sentence_train_train
2,30,S118.txt,1,oh there's a cookie jar and a youngster with ...,NaN,NaN,NaN
3,37,S114.txt,1,mhm well the kids is robbing a cookie jar ...,NaN,NaN,NaN
9,104,S052.txt,0,i see a boy getting in the in the cookie jar ...,NaN,NaN,NaN
23,35,S081.txt,1,well the kid the girl's laughing at her broth...,NaN,NaN,NaN
24,75,S035.txt,0,touching lip raising arm is that what y...,NaN,NaN,NaN
29,107,S005.txt,0,okay many or the mother's washing the dishe...,NaN,NaN,NaN
45,98,S013.txt,0,okay fellow falling off a stool also taki...,NaN,NaN,NaN
69,62,S072.txt,0,you mean right now tell you the boy is stea...,NaN,NaN,NaN
73,42,S090.txt,1,mhm oh i see a part of the whole kitchen ...,NaN,NaN,NaN
79,95,S029.txt,0,action alright a lady's drying dishes t...,NaN,NaN,NaN
96,93,S017.txt,0,well i see the mother doing the dishes the ...,NaN,NaN,NaN

## Test, Eval

In [47]:
df_adress_test = pd.read_csv("/edata/ADReSS-IS2020-data/dataframes/adre_test.csv")

In [48]:
df_adress_test

,Unnamed: 0,sentence_source,label,sentence
0,0,S203.txt,1,okay the boy's in the cookie jar he's he's ...
1,1,S179.txt,1,well the stool the stool the sink is runnin...
2,2,S184.txt,0,young boy is up at the cookie jar he has th...
3,3,S191.txt,1,mhm well she's spilling the water from from...
4,4,S169.txt,1,well the sink is running over she's drying ...
5,5,S205.txt,1,well the little kid's falling off his stool ...
6,6,S202.txt,0,tell me oh oh by looking at the okay ...
7,7,S201.txt,0,well the boy is getting cookies and he's gonn...
8,8,S190.txt,1,the girl's in the trying did i get that a...
9,9,S195.txt,0,okay well in the first place the the mother...
10,10,S171.txt,1,it's a family affair a mother and the childre...
11,11,S193.txt,0,okay the kid on the bench who's got his hand ...
12,12,S161.txt,0,a boy with a cookie in his one hand and his h...
13,13,S197.txt,0,okay anywhere the little girl's laughing ...
14,14,S188.txt,1,cookie jar and he's stepping on a well he's...
15,15,S183.txt,0,the boy is reaching into the cookie jar he'...
16,16,S165.txt,1,yeah i see the woman's in a kitchen and n...
17,17,S186.txt,0,mhm the little boy is reaching for a cookie...
18,18,S175.txt,0,the sink's running over the water's going a...
19,19,S192.txt,1,all the action okay it's a boy and a girl a...
20,20,S181.txt,1,oh yeah kid's climbing up on the stool and ...
21,21,S177.txt,0,cookie jar a lad standing on a stool teeter...
22,22,S206.txt,0,well for one thing the boy is stealing cookie...
23,23,S178.txt,0,a little girl is reaching for her brother to ...
24,24,S168.txt,1,well the the little boy is stealing cookies a...
25,25,S174.txt,0,i see a little boy on a stool almost falling ...
26,26,S173.txt,1,a little boy is getting himself some cookies ...
27,27,S182.txt,1,she's preparing a meal i'm going to hafta q...
28,28,S170.txt,0,i see this woman who's standing by the sink w...
29,29,S204.txt,0,well this happens to be a kitchen and the m...
30,30,S163.txt,0,okay the water's running outof the sink overf...
31,31,S167.txt,1,the poor mom's getting her wet feet and tha...
32,32,S199.txt,0,there's the two children are in the process o...
33,33,S160.txt,0,this boy is about to fall off of the stool ...
34,34,S196.txt,0,well let's see the girl is whispering to be...
35,35,S164.txt,1,well he's into the cookie jar and the the sto...
36,36,S207.txt,0,little girl with her finger to her lips the...
37,37,S185.txt,1,oh little boy's in the cookie jar the girl'...
38,38,S162.txt,1,i see two kids up at the cookie jar one on a ...
39,39,S189.txt,1,alright the little girl wants cookie the ...
40,40,S166.txt,0,oh it's the same picture you should give me...
41,41,S187.txt,1,hm it's a little boy climbing up getting so...
42,42,S172.txt,0,well the little girl is reaching for a cookie...
43,43,S198.txt,1,you mean like the woman doing the dishes and ...
44,44,S180.txt,0,well the boy is taking cookies outof the cook...
45,45,S194.txt,1,well the mother has water spilling all over t...
46,46,S176.txt,1,whew do i hafta use my my my personal descr...
47,47,S200.txt,1,seeing the mother she's washing dishes and ...

In [49]:
df_adress_train_val = pd.read_csv("/edata/ADReSS-IS2020-data/dataframes/adre_train_val.csv")

In [50]:
df_adress_train_val

,Unnamed: 0,sentence,label,sentence_source
0,0,you mean right now tell you the boy is stea...,0,S072.txt
1,1,oh there's a cookie jar and a youngster with ...,1,S118.txt
2,2,okay many or the mother's washing the dishe...,0,S005.txt
3,3,touching lip raising arm is that what y...,0,S035.txt
4,4,action alright a lady's drying dishes t...,0,S029.txt
5,5,mhm oh i see a part of the whole kitchen ...,1,S090.txt
6,6,well i see the mother doing the dishes the ...,0,S017.txt
7,7,i see a boy getting in the in the cookie jar ...,0,S052.txt
8,8,okay fellow falling off a stool also taki...,0,S013.txt
9,9,mhm well the kids is robbing a cookie jar ...,1,S114.txt
10,10,well the kid the girl's laughing at her broth...,1,S081.txt

In [56]:
(set(df_adress_train_val['sentence_source']) - set(df_adress_train['sentence_source']))

set()

In [58]:

(set(df_adress_train_val['sentence_source'])) == (set(df_adress_train['sentence_source']) - set(df_adress_train_train['sentence_source']))

True

In [59]:
df_adress_train.groupby('label').size()

label
0    54
1    54
dtype: int64

In [60]:
df_adress_train_train.groupby('label').size()

label
0    47
1    50
dtype: int64

In [62]:
df_adress_train_val.groupby('label').size()

label
0    7
1    4
dtype: int64

In [63]:
df_adress_test.groupby('label').size()

label
0    24
1    24
dtype: int64

# Mix & Combine

In [82]:
df_wls_label.columns

Index(['idtlkbnk', 'age 2011', 'education', 'category fluency version, 2011',
       'category fluency, scored words named, 2011',
       '> 1 sd below mean for normals ages 60-79 (Tombaugh, Kozak, & Rees, 1999) -- normal cutoff = 12+ for 9-12 yrs eductation, 14+ for 13-21 yrs education'],
      dtype='object')

In [76]:
df_wls_merge.groupby("belowSD", dropna=False).size()

belowSD
N      1167
Y       109
y         1
NaN      83
dtype: int64

In [77]:
df_adress_train.groupby("label", dropna=False).size()

label
0    54
1    54
dtype: int64

In [78]:
df_adress_test.groupby("label", dropna=False).size()

label
0    24
1    24
dtype: int64

In [31]:
df_adress_train = pd.read_csv("/edata/ADReSS-IS2020-data/dataframes/adre_train.csv")

df_adress_test = pd.read_csv("/edata/ADReSS-IS2020-data/dataframes/adre_test.csv")

df_adress = pd.concat([df_adress_train, df_adress_test], ignore_index=True)

df_adress.rename(columns={"sentence": "text"}, inplace=True)

In [46]:
df_adress

,Unnamed: 0,sentence_source,label,text
0,6,S094.txt,1,oh yes a little girl and the little boy is ...
1,0,S138.txt,1,the the water's flowing on the floor and sh...
2,30,S118.txt,1,oh there's a cookie jar and a youngster with ...
3,37,S114.txt,1,mhm well the kids is robbing a cookie jar ...
4,49,S143.txt,1,well little boy reaching out for the cookie j...
...,...,...,...,...
151,43,S198.txt,1,you mean like the woman doing the dishes and ...
152,44,S180.txt,0,well the boy is taking cookies outof the cook...
153,45,S194.txt,1,well the mother has water spilling all over t...
154,46,S176.txt,1,whew do i hafta use my my my personal descr...
155,47,S200.txt,1,seeing the mother she's washing dishes and ...

In [64]:
df_adress.query("sentence_source == 'S001.txt'")

,Unnamed: 0,sentence_source,label,text
22,105,S001.txt,0,well there's a mother standing there washing the dishes and the window's open and outside the window there's a walk with a curved walk and you can see another building there looks like a garage or something with curtains and the grass in the and there are dishes two cups and a saucer on the sink and she's getting her feet wet from the overflow of the water she seems to be oblivious to the fact that the sink is she's also oblivious to the fact that her kids are stealing and the kid on the stool is gonna fall off the stool he's standing up there in the cupboard taking cookies out of the kids are somewhere around seven or eight years old or nine and the mother is gonna get shocked when the when the and i think that's about all

In [61]:
pd.set_option('display.max_colwidth', None)

In [65]:
df_adress_dementia.query("file.str.startswith('001')")

,file,text
21,001-0,Mhm. alright. There's a young boy that's getting a cookie jar. And it he's in bad shape because the thing is. And in the picture the mother is washing dishes and doesn't see. And so is the the water is overflowing in the sink. And the dishes might get falled over if you don't. And it there it's a picture of a kitchen window. And the curtains are very distinct. But the water is still flowing.
202,001-2,Mhm. There's a young boy going in a cookie jar. And there's a a girl young girl. And i'm saying he's a boy because you can it's. and he's he's in the cookie jar. And there's a stool that he is on and it already is starting to. And so is the water in the sink is overflowing in the sink. i i don't know about the this hickey here i. like it the wife or imean the the mother. And she's she has has. Oh i i can't think of the. She has the she's trying to wipe wipe dishes. Oh and stop the water from going out.

In [67]:

df_adress_dementia = pd.read_csv("/edata/TRESTLE/harmonized-toolkit/transcripts/processed_pitt_dementia.tsv", sep="\t")

df_adress_control = pd.read_csv("/edata/TRESTLE/harmonized-toolkit/transcripts/processed_pitt_control.tsv", sep="\t")


df_adress_dementia['label'] = 1
df_adress_control['label'] = 0

df_adress = pd.concat([df_adress_dementia, df_adress_control]).reset_index(drop=True)

In [68]:
df_adress

,file,text,label
0,172-1,Oh the water is running outof the sink. Mother is calmly drying a dish. The stool is going to fall over and the little boy is on top of. And the little girl is reaching for a cookie. She has her hands to her her finger to her lip as if she's. The curtains seem to be waving a bit. The water's running. and it's splashing on the floor. That's it.,1
1,154-1,this boy is getting cookies outof this jar. well why why they must they they must have. Www. No you've gotta you gotta get the you gotta get. yeah i guess so.,1
2,039-0,Okay we see first of all the sink is overflowing. Water cascading down the kitchen cabinet onto the floor. the lady in the picture is drying a dish. there is a young man on a stool. And he's the stool is being tipped over. He's reaching for a cookie jar. the lid is off the jar and it looks like he's going to try to. And looks like he might make it before he hits the floor. I don't think so.,1
3,120-1,okay. Okay. Okay. Well the boy is reaching for the cookie jar reaching for. His stool is falling over. He's handing the cookies to his sister. The mother is washing the dishes. The sink is running over. these are things that are happening. The the little sister's shushing doesn't want the mother to. well the water's running into the sink as well as the sink. Oh and the mother's stepping in the puddle. Yes i don't identify any other happenings.,1
4,181-0,Well they x look like they're stealing cookies out of the. This lady is drying dishes. somebody's up in the cookie jar. She's drying dishes it seems. the sink is running over. he's falling off the stool stealing cookies. Leg just went up. Land on the floors.,1
...,...,...,...
543,042-1,Okay. the little boy is on the stool which is tipping over. And he's getting into the cookie jar which is up in the cabinet. the lid is off the jar. He has a cookie in one hand. He's reaching for another one. the little girl has her hand up for a cookie i guess to. mother's doing the dishes at the sink and the sink is. the water's overflowing onto the floor. She's drying a dish. there's it looks like two cups and a plate on the. Outside the window it looks like a path. And there's another window and some trees apparently and grass and. And it's either i guess it's another part of the house. And there's curtains on her windows. I guess that's about it. She has an apron on.,0
544,068-2,Oh yes. well the mother is washing the dishes. And the water is running over in the sink. And the kids little boy's getting in the cookie jar and. And she seems to be oblivious to everything. Guess in some kind of daze. And the little girl has her finger on her lips and. sho don't tell mom. this looks looks like the mother is really kinda. Or in some kind of a depression because she doesn't seem to know.,0
545,274-1,well the mother's doing the dishes and allowing the sink. The kids or the boy's in the cookie jar. And the stool that he's standing on is tilting. And i don't know what the girl is doing. Gonna tell on him or do something. And then there's some people out here behind the garage. I don't know what they are doing. Do you see them.,0
546,132-0,That's it. Okay the boy is in the cookie jar and giving them to his sister. Mother's washing the dishes. The water's overflowing in the sink. The boy is falling off the stool. the girl is eating a cookie asking for another. the cover's off the cookie jar. Door to the cabinet is open. the window outside is open. The yard. The mother is impervious of what's going on. She's unconscious just standing in the water and wiping the dishes. that's about it. The wind might be blowing near the curtain.,0
547,141-2,Oh goodness sakes. The little girl is saying. be quiet because we don't want mother to know we're in the. The boy is getting cookies and he's going to have an accident. The mother is in dream world somewhere because she's. she's standing in the water even. My goodness sakes. The. There's nothing the matter with those dishes. I guess you could look out the window and see that. Hm i don't know karen that's.,0