In [1]:
import pandas as pd
import numpy as np

In [2]:
df_business = pd.read_json("/bime-munin/xiruod/data/yelp_dataset/yelp_academic_dataset_business.json", lines=True)

In [3]:


df_review = pd.read_json("/bime-munin/xiruod/data/yelp_dataset/yelp_academic_dataset_review.json", lines=True)

In [6]:
1

1

# Filter based on number of reviews

In [6]:
assert df_review['review_id'].nunique() == len(df_review)

In [7]:
df_review_agg = df_review.groupby("business_id", as_index=False).size()

In [8]:
len(df_review_agg)

150346

In [9]:
df_review_agg.query("size <= 10")

                   business_id  size
2       --30_8IhuyMHbSOcNWd6DQ     9
8       --FWWsIwxRwuw9vIMImcQg     8
10      --LC8cIrALInl2vyo701tg     8
14      --OS_I7dnABrXvRCCuWOGQ     5
17      --Sd93OFWITqDHifMoAy9g     6
...                        ...   ...
150338  zzjCxn89a7RQo8keIOO_Ag     5
150342  zztOG2cKm87I6Iw_tleZsQ     6
150343  zzu6_r3DxBJuXcjnOYVdTw     8
150344  zzw66H6hVjXQEt0Js3Mo4A     5
150345  zzyx5x0Z7xXWWvWnZFuxlQ     8

[55055 rows x 2 columns]

In [10]:
df_review_agg = df_review_agg.merge(df_business, on="business_id", how="inner")

In [11]:
len(df_review_agg)

150346

In [12]:
df_review_agg = df_review_agg.query("categories.notna()").reset_index(drop=True)

In [13]:
len(df_review_agg)

150243

In [14]:
df_review_agg.query("categories.str.contains('Seafood', case=False)").query("size <= 30").query("state == 'IN'")

,business_id,size,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
3105,0HxIdUa_kth2x80f3reIQA,14,Golden’s Fish & Chicken,"5868 E 71st St, Ste D",Indianapolis,IN,46220,39.884397,-86.067328,4.5,14,1,"{'GoodForMeal': '{'dessert': False, 'latenight...","Chicken Shop, Middle Eastern, Falafel, Restaur...","{'Monday': '10:30-22:0', 'Tuesday': '10:30-22:..."
4926,128V3aNJlVzQ9gISXVbxug,15,Central Seafood,3351 Central Ave,Indianapolis,IN,46205,39.817177,-86.149464,4.5,15,1,"{'OutdoorSeating': 'False', 'Ambience': '{'rom...","Seafood, Restaurants",None
6903,1s2CBLuLy3uW0oG_vKt2Vg,12,Shrimp Hut,3816 N High School Rd,Indianapolis,IN,46254,39.824177,-86.270712,3.5,12,0,"{'RestaurantsTakeOut': 'True', 'BusinessParkin...","Seafood, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
11020,3boF6qb2kpjr7p5hZuPbUQ,14,Ducketts Seafood,7245 N Michigan Rd,indianopolis,IN,46268,39.886245,-86.209262,4.0,14,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTa...","Food, Cajun/Creole, Food Delivery Services, Se...","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21..."
13543,4ihK-CfFXNVIxN_twd63ZQ,27,Raw Bar By Slapfish,339 Massachusetts Ave,Indianapolis,IN,46204,39.771815,-86.153038,4.5,26,1,"{'RestaurantsReservations': 'True', 'Restauran...","Seafood, Restaurants, Breakfast & Brunch","{'Monday': '16:0-22:0', 'Tuesday': '16:0-22:0'..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141140,w9PEEovGNZSDbMYkM-_boQ,27,Captain D's,718 US 31 N,Greenwood,IN,46142,39.626155,-86.120965,4.0,26,0,"{'RestaurantsPriceRange2': '1', 'GoodForKids':...","Fish & Chips, Fast Food, Seafood, Restaurants,...","{'Monday': '0:0-0:0', 'Tuesday': '10:30-22:0',..."
141981,wV948Q2vOkfK6_yv8_Mppw,24,El Mr Camaron,420 S Sherman Dr,Indianapolis,IN,46201,39.760607,-86.102045,5.0,23,1,"{'RestaurantsReservations': 'False', 'NoiseLev...","Mexican, Restaurants, Seafood",None
142935,wtXjJG45SBTsRocWdQfU6A,8,Jonah's Market,10106 Brooks School Rd,Fishers,IN,46038,39.934865,-85.948187,3.5,8,0,"{'BusinessAcceptsCreditCards': 'True', 'GoodFo...","Food, Specialty Food, Seafood Markets, Winerie...",None
144438,xWciUYcV1VEVEWAHak29Hg,17,Barrel 1787 Urban Grill,1454 W 86th St,Indianapolis,IN,46260,39.913990,-86.185061,3.0,14,1,"{'Ambience': '{u'divey': False, u'hipster': No...","American (New), Restaurants, Food, Bars, Beer,...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
144987,xkDYfjmcH7_b45AXWzrAOQ,26,The Yummy Crab,9962 E Washington St,Indianapolis,IN,46229,39.775971,-85.991325,3.5,25,1,"{'Ambience': '{'touristy': False, 'hipster': F...","Restaurants, Seafood, Cajun/Creole","{'Monday': '14:0-22:0', 'Tuesday': '14:0-22:0'..."

In [15]:
df_review_agg.groupby("state").size()

state
AB      5572
AZ      9906
CA      5202
CO         3
DE      2262
FL     26309
HI         2
ID      4464
IL      2144
IN     11243
LA      9916
MA         2
MI         1
MO     10907
MT         1
NC         1
NJ      8527
NV      7706
PA     34013
SD         1
TN     12051
TX         4
UT         1
VI         1
VT         1
WA         2
XMS        1
dtype: int64

In [16]:
df_review_agg.query("categories.str.contains('Seafood', case=False)").query("size <= 30").query("state == 'PA'")

,business_id,size,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
186,-40qQXB8JsneSiDqXMjoeg,14,Grill Fish Café,814 S 47th St,Philadelphia,PA,19143,39.948232,-75.216943,4.0,14,0,"{'Alcohol': 'u'full_bar'', 'HasTV': 'False', '...","Asian Fusion, Vietnamese, Seafood, Restaurants","{'Tuesday': '17:0-22:0', 'Wednesday': '17:0-22..."
564,-E5FEJIZdmwV7A1XGdhUeA,20,Baltimore Crab & Seafood,4800 Spruce St,Philadelphia,PA,19139,39.953428,-75.218346,3.0,20,0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Food, Specialty Food, Seafood Markets","{'Monday': '12:0-23:0', 'Tuesday': '12:0-23:0'..."
1114,-TW-0EqgnzUNHzV9VPSLoQ,16,Nori Ramen & Poke Bowl,9475 Roosevelt Blvd,Philadelphia,PA,19114,40.079657,-75.027236,4.0,15,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTa...","Seafood, Ramen, Restaurants, Hawaiian, Japanese","{'Monday': '11:0-21:30', 'Tuesday': '11:0-21:3..."
1287,-YTipfQ0Yj0iF7m921rhmQ,12,Foose Grill,5143 Baltimore Ave,Philadelphia,PA,19143,39.948015,-75.227058,4.5,11,1,"{'WiFi': 'u'no'', 'GoodForKids': 'True', 'Rest...","American (Traditional), Seafood, Restaurants, ...",None
1451,-c-uzlRdsFYGHGq5er9qbw,7,Bucks Gyro,40 E Street Rd,Warminster,PA,18974,40.196272,-75.082217,4.5,7,1,"{'RestaurantsTakeOut': 'True', 'RestaurantsTab...","Restaurants, Food, Middle Eastern, Halal, Seaf...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147604,yrx221Vp9PNYBUJJSIoaiQ,8,S and J Seafood,713 S 52nd St,Philadelphia,PA,19143,39.948509,-75.227008,3.5,8,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Food, Seafood Markets, Grocery, Specialty Food...","{'Monday': '10:0-19:0', 'Tuesday': '10:0-19:0'..."
147681,yu12TJ5YDOi4cMkvOclyVw,20,China House,648 E Chester Pike,Ridley Park,PA,19078,39.879012,-75.312816,4.0,19,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Seafood, Chinese, Restaurants","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'..."
148448,zD12wBN9vQHecg_-m_YXOg,7,Nicholl's Seafood,7634 Castor Ave,Philadelphia,PA,19152,40.057350,-75.060770,3.5,7,0,"{'GoodForKids': 'True', 'RestaurantsPriceRange...","Restaurants, Seafood",None
148461,zDJoyeohHjEX-Pz6zQfPng,25,Kriscroix Restaurant,198 Lincoln Hw,Fairless Hills,PA,19030,40.183862,-74.856669,4.5,22,0,"{'HasTV': 'True', 'BusinessParking': '{'garage...","Fish & Chips, Restaurants, Seafood, Chicken Wi...","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
150217,zzFCdBSW27eKFg-xG7cqAg,19,Suburbia Seafood,135 Boro Line Rd,King of Prussia,PA,19406,40.101528,-75.353721,4.0,18,0,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Seafood Markets, Specialty Food, Restaurants, ...","{'Tuesday': '9:0-18:0', 'Wednesday': '9:0-18:0..."

# Check all..

In [18]:
df_all = df_review.merge(df_business, on='business_id', how='inner')

In [20]:
dict_stars = {1:0,
              2:0,
              4:1,
              5:1,
             }

In [21]:
df_all = df_all[df_all['stars_x'] != 3].reset_index(drop=True)
df_all['label'] = df_all['stars_x'].map(dict_stars)

In [22]:
df_all.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'is_open', 'attributes', 'categories', 'hours', 'label'],
      dtype='object')

In [32]:
df_all.query("categories.str.contains('Mexi', case=False, na=False)").query("review_count <= 30").groupby(['state','label']).size()

state  label
AB     0         191
       1         329
AZ     0        1254
       1        2257
CA     0         190
       1         520
DE     0         232
       1         460
FL     0        1654
       1        2666
ID     0         486
       1         554
IL     0         398
       1         453
IN     0        1220
       1        2087
LA     0         557
       1         891
MO     0        1079
       1        1159
NJ     0         414
       1         734
NV     0         295
       1         785
PA     0        1420
       1        2556
TN     0        1221
       1        2199
dtype: int64

In [33]:
2257/(2257+1254)

0.6428367986328681

In [34]:
1159/(1159+1079)

0.5178731009830205

# Mixician: AZ vs MO (N reviews <= 30)

In [39]:
df1 = df_all.query("categories.str.contains('Mexican', case=False, na=False)").query("review_count <= 30").query("state=='AZ'")
df2 = df_all.query("categories.str.contains('Mexican', case=False, na=False)").query("review_count <= 30").query("state=='MO'")

In [41]:
df1.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars_y', 'review_count',
       'is_open', 'attributes', 'categories', 'hours', 'label'],
      dtype='object')

In [42]:
cols_select = ['business_id', 'review_id', 'state', 'label', 'text']

df1[cols_select].to_csv("/bime-munin/xiruod/data/yelp_dataset/processed/yelp_mexican_AZ.csv")
df2[cols_select].to_csv("/bime-munin/xiruod/data/yelp_dataset/processed/yelp_mexican_MO.csv")

In [43]:
df1.groupby('label').size()

label
0    1254
1    2257
dtype: int64

In [44]:
df2.groupby('label').size()

label
0    1079
1    1159
dtype: int64

In [45]:
2257/(2257+1254)

0.6428367986328681

In [46]:
1159/(1159+1079)

0.5178731009830205

# Seafood: IN vs FL (N reviews <= 30)

In [118]:
df_review_agg_select = df_review_agg.query("categories.str.contains('Seafood', case=False)").query("size <= 30").query("state in ['PA','FL']")

In [119]:
df_review_agg_select

,business_id,size,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,---kPU91CF4Lq2-WlRu9Lw,24,Frankie's Raw Bar,4903 State Rd 54,New Port Richey,FL,34652,28.217288,-82.733344,4.5,24,1,"{'Alcohol': 'u'none'', 'OutdoorSeating': 'True...","Seafood, Restaurants, Latin American, Food, Fo...","{'Monday': '0:0-0:0', 'Tuesday': '11:0-21:0', ..."
186,-40qQXB8JsneSiDqXMjoeg,14,Grill Fish Café,814 S 47th St,Philadelphia,PA,19143,39.948232,-75.216943,4.0,14,0,"{'Alcohol': 'u'full_bar'', 'HasTV': 'False', '...","Asian Fusion, Vietnamese, Seafood, Restaurants","{'Tuesday': '17:0-22:0', 'Wednesday': '17:0-22..."
564,-E5FEJIZdmwV7A1XGdhUeA,20,Baltimore Crab & Seafood,4800 Spruce St,Philadelphia,PA,19139,39.953428,-75.218346,3.0,20,0,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Food, Specialty Food, Seafood Markets","{'Monday': '12:0-23:0', 'Tuesday': '12:0-23:0'..."
722,-I_MttjEEbECi1Zjs12hJA,9,Periscope Restaurant,6800 Sunshine Skyway Ln S,Saint Petersburg,FL,33711,27.705371,-82.678390,2.5,9,1,"{'RestaurantsDelivery': 'False', 'RestaurantsG...","Hotels, Seafood, Hotels & Travel, Restaurants,...","{'Monday': '17:0-22:0', 'Tuesday': '17:0-22:0'..."
853,-MXWHvyw73IDWzIrpGqkpA,7,Captain Al's,"800 2nd Ave NE, Ste 25",Saint Petersburg,FL,33701,27.773918,-82.622729,3.0,7,0,"{'GoodForKids': 'False', 'Alcohol': 'u'full_ba...","American (Traditional), Food, Seafood, Restaur...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148461,zDJoyeohHjEX-Pz6zQfPng,25,Kriscroix Restaurant,198 Lincoln Hw,Fairless Hills,PA,19030,40.183862,-74.856669,4.5,22,0,"{'HasTV': 'True', 'BusinessParking': '{'garage...","Fish & Chips, Restaurants, Seafood, Chicken Wi...","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."
149589,zi7z6IE74Iq9wqWbHcJfuA,22,Hip Hop Crab,4924 E Busch Blvd,Tampa,FL,33617,28.033580,-82.404203,2.5,22,1,"{'RestaurantsDelivery': 'None', 'RestaurantsTa...","Sports Bars, Restaurants, Seafood, Nightlife, ...","{'Monday': '11:0-2:0', 'Tuesday': '11:0-2:0', ..."
149610,zirdGUy6URMii7VM-8DoBQ,18,Bayou Market and Cafe,6630 Central Ave,St. Petersburg,FL,33707,27.770548,-82.729267,5.0,18,1,None,"American (Traditional), Soup, Restaurants, Sea...","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'..."
150089,zvnoq65Q9FRy8EXroCvlAg,21,Top China,3018 54th Ave S,Saint Petersburg,FL,33712,27.718215,-82.673465,3.5,20,1,"{'RestaurantsGoodForGroups': 'False', 'Restaur...","Seafood, Restaurants, Chinese",None
150217,zzFCdBSW27eKFg-xG7cqAg,19,Suburbia Seafood,135 Boro Line Rd,King of Prussia,PA,19406,40.101528,-75.353721,4.0,18,0,"{'RestaurantsDelivery': 'False', 'RestaurantsP...","Seafood Markets, Specialty Food, Restaurants, ...","{'Tuesday': '9:0-18:0', 'Wednesday': '9:0-18:0..."

In [120]:
df_IN = df_business[df_business['business_id'].isin(df_review_agg_select.query("state == 'IN'")['business_id'])]

df_PA = df_business[df_business['business_id'].isin(df_review_agg_select.query("state == 'PA'")['business_id'])]
df_FL = df_business[df_business['business_id'].isin(df_review_agg_select.query("state == 'FL'")['business_id'])]

In [121]:
df_IN = df_IN[['business_id','city','state']].merge(df_review, on='business_id').query("stars != 3").reset_index(drop=True)

df_PA = df_PA[['business_id','city','state']].merge(df_review, on='business_id').query("stars != 3").reset_index(drop=True)

df_FL = df_FL[['business_id','city','state']].merge(df_review, on='business_id').query("stars != 3").reset_index(drop=True)

In [122]:
print(len(df_IN))
print(len(df_PA))
print(len(df_FL))

0
4380
3431

In [123]:
dict_stars = {1:0,
              2:0,
              4:1,
              5:1,
             }
df_IN['label'] = df_IN['stars'].map(dict_stars)
df_PA['label'] = df_PA['stars'].map(dict_stars)
df_FL['label'] = df_FL['stars'].map(dict_stars)

In [124]:
df_IN['domain'] = df_IN['state']
df_PA['domain'] = df_PA['state']
df_FL['domain'] = df_FL['state']

In [125]:
df_IN.groupby("label").size()

Series([], dtype: int64)

In [126]:
df_PA.groupby("label").size()

label
0    1409
1    2971
dtype: int64

In [127]:
df_FL.groupby("label").size()

label
0     936
1    2495
dtype: int64

In [128]:
830/(830+365)

0.694560669456067

In [129]:
2500/(2500+936)

0.7275902211874272

In [130]:
2971/(2971+1409)

0.6783105022831051

In [131]:
df_PA.to_csv("/bime-munin/xiruod/data/yelp_dataset/processed/yelp_seafood_PA.csv", index=False)
df_FL.to_csv("/bime-munin/xiruod/data/yelp_dataset/processed/yelp_seafood_FL.csv", index=False)

# Time?

In [52]:
del df_all

In [7]:
df_business.columns

Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [8]:
df_all = df_review.merge(df_business.query("review_count <= 30")[['business_id','city','state','is_open']], on='business_id', how='inner')

In [9]:
len(df_all)

1326699

In [10]:
len(df_all.query("is_open == 1"))

1055139

In [11]:
df_all = df_all.query("is_open == 1").reset_index(drop=True)

In [12]:
df_all['review_year'] = df_all['date'].dt.year

In [13]:
df_all.groupby("state").size()

state
AB      41303
AZ      73290
CA      33666
CO          8
DE      17977
FL     192575
HI         19
ID      34720
IL      16445
IN      79466
LA      61886
MA          9
MI         11
MO      72732
NJ      66341
NV      52351
PA     228844
TN      83408
TX         35
UT         19
VT         10
WA         19
XMS         5
dtype: int64

## Filter specific States: PA, FL, AZ, MO

In [14]:
df_all_filter = df_all.query("state in ['PA','FL','AZ','MO']").reset_index(drop=True)

In [15]:
df_all_filter = df_all_filter.query("stars != 3").reset_index(drop=True)

In [16]:
dict_stars = {1:0,
              2:0,
              4:1,
              5:1,
             }

df_all_filter['label'] = df_all_filter['stars'].map(dict_stars)

In [17]:
df_all_filter.groupby(['review_year','label'], as_index=False).size()

    review_year  label   size
0          2005      0      4
1          2005      1     12
2          2006      0     21
3          2006      1    101
4          2007      0     80
5          2007      1    389
6          2008      0    259
7          2008      1   1332
8          2009      0    525
9          2009      1   1763
10         2010      0   1195
11         2010      1   3631
12         2011      0   2378
13         2011      1   6514
14         2012      0   3942
15         2012      1   9609
16         2013      0   6340
17         2013      1  14802
18         2014      0   9730
19         2014      1  20685
20         2015      0  14836
21         2015      1  29166
22         2016      0  17939
23         2016      1  36036
24         2017      0  20626
25         2017      1  40209
26         2018      0  25118
27         2018      1  46249
28         2019      0  28840
29         2019      1  51588
30         2020      0  22880
31         2020      1  40101
32         2021      0  27840
33         2021      1  45974
34         2022      0   1623
35         2022      1   2722

In [20]:
df_all_filter_year = df_all_filter.query("(review_year >= 2020) or (review_year <= 2015)").copy().reset_index(drop=True)

In [21]:

df_all_filter_year['year_cut'] = df_all_filter_year['review_year'].transform(lambda x: "<=2015" if x <= 2015 else '>=2020')

In [22]:
df_all_filter_year.groupby(['year_cut','label'], as_index=False).size()

  year_cut  label   size
0   <=2015      0  39310
1   <=2015      1  88004
2   >=2020      0  52343
3   >=2020      1  88797

In [23]:
df0 = df_all_filter_year.query("year_cut == '<=2015'")
df1 = df_all_filter_year.query("year_cut == '>=2020'")

In [24]:
df0.columns

Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date', 'city', 'state', 'is_open', 'review_year',
       'label', 'year_cut'],
      dtype='object')

In [25]:
cols_select = ['business_id', 'review_id', 'state', 'review_year','year_cut','label', 'text']

df0[cols_select].to_csv("/bime-munin/xiruod/data/yelp_dataset/processed/yelp_year_before2015.csv")
df1[cols_select].to_csv("/bime-munin/xiruod/data/yelp_dataset/processed/yelp_year_after2020.csv")

In [28]:
8.8/12

0.7333333333333334

In [29]:
8.8/13

0.676923076923077

In [30]:
len(df_all_filter_year)

268454